.leaflet-container {
  width: 100%;
  height: 75vh;
  z-index: 1;
}

.map-tags {
  margin-top: 2px;
  height: 40px;
  padding: 8px 24px;
  background-color: red;
  display: flex;
  overflow-x: scroll;
}

.tag {
  margin: 0 5px;
}

.slider {
  z-index: 200;
  bottom: 0;
  width: 100%;
}
