.dashboard-layout {
  @apply relative grid w-full h-full min-h-screen;
  grid-template-areas:
    "sidebar header"
    "sidebar content"
    "sidebar content";
  grid-template-columns: max-content 1fr;
  grid-template-rows: 80px 1fr;
}

.dashboard-header {
  @apply flex items-center justify-end bg-white gap-x-10;
  grid-area: header;
}

.dashboard-sidebar {
  @apply flex flex-col justify-between bg-primary;
  grid-area: sidebar;
}

.dashboard-content {
  @apply p-12;
  grid-area: content;
}
