@tailwind base;
@tailwind components;
@tailwind utilities;

/* CKEditor styles */
.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar, .ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable, .ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 500px;
}